# Python
backend/venv/
backend/**/__pycache__/
__pycache__/
*.pyc

# Node & Build
frontend/node_modules/
frontend/dist/

# Heavy Deep Learning Model Weights (>50MB, excluded from GitHub)
backend/model/*.keras


# Generated application upload and output files
backend/static/uploads/*
backend/static/heatmaps/*
backend/static/reports/*

# Keep .gitkeep files in static folders if needed
!backend/static/uploads/.gitkeep
!backend/static/heatmaps/.gitkeep
!backend/static/reports/.gitkeep

# Operating system files
.DS_Store
Thumbs.db